<head>

	<p><%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= link_to "Contact", contact_path %>
	</p>	
</head>

<h1>HiStory...</h1>
<p> 
	Our mission at HiSchool is to provide students and parents with a look at local SF county schools, so they can have a better understanding of what they're getting into.
</p>
