<header cellspacing="40">
	<p><%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= link_to "Contact", contact_path %></p>	
</header>

<h1>Contact Us!</h1>
<p>By Email: <%= link_to "HiSchools@ga.co" %></p>
<p>By Phone: 1-415-HiSchools </p>

